body {
    padding-top: 90px;

}

.nav {
    margin-top: 18px;
}
.navbar {
    min-height: 90px;
    margin-bottom: 0 !important;
}
.navbar-brand {
    height: auto;
    padding-top: 15px;
    margin: 0;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav li {
    padding: 5px 0;
}

.navbar-nav > li > a{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #cccccc;
}

.navbar-nav > li > a span {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 14px;
    display: block;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;
}

.navbar-left {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    margin: auto;
}

.navbar-nav a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #0383c0 !important;
    color:#ffffff !important;
}

.jumbotron {
    margin: 0 !important;
    min-height: 450px;
    background: url("../img/bg.jpg") no-repeat;
}

h1 {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

.jumbotron h1 {
    font-size: 55px;
}