body {
    padding-top: 90px;

}

section{
    padding: 30px 0;
}

.section-grey{
    background: #f4f4f4;
}

.section-primary{
    background: #0383c0;
    color: #ffffff;
    padding:60px 0;
}

.section-secondary{
    background: #e44d26;
    color: #ffffff;
    padding:60px 0;
}

.section-title{
    padding: 10px;
    background: #0383c0;
    color: #ffffff;
}

.section-title small{
    color: #cccccc !important;
}

.slogan {
    text-align: center;
}

.slogan h1{
    font-size: 50px;
    margin-bottom: 25px;
}

.slogan p {
    font-size: 20px;
}

.slogan a{
    margin-top: 20px;
}

.feature-list li{
    list-style: none;
    font-size: 18px;
    line-height: 2em;
}

.nav {
    margin-top: 18px;
}

.navbar {
    min-height: 90px;
    margin-bottom: 0 !important;
}

.navbar-brand {
    height: auto;
    padding-top: 15px;
    margin: 0;
}

.navbar-nav {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav li {
    padding: 5px 0;
}

.navbar-nav > li > a {
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #cccccc;
}

.navbar-nav > li > a span {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 14px;
    display: block;
    font-weight: normal;
    font-family: Arial;
    text-transform: uppercase;
}

.navbar-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    margin: auto;
}

.navbar-nav a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #0383c0 !important;
    color: #ffffff !important;
}

.jumbotron {
    margin: 0 !important;
    min-height: 450px;
    background: url("../img/bg.jpg") no-repeat;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

.jumbotron h1 {
    font-size: 55px;
}

.fa-color {
    color: #0383c0;
}

footer{
    text-align: center;
    height: 60px;
    background: #f4f4f4;
    padding-top: 20px;
}